/* Estilos para el menú */
.menu {
    background-color: #AB6EC9; /* Violeta para el fondo del menú */
    padding: 20px; /* Espaciado interno */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para efecto de elevación */
  }
  
  /* Estilos para los botones del menú */
  .items {
    display: flex; /* Establece los botones en línea */
    gap: 30px; /* Espacio entre los botones */
  }
  
  .btn {
    cursor: pointer;
    color: white; /* Letras blancas para mayor contraste */
    text-transform: uppercase;
    font-weight: bold; /* Letras más gruesas */
    background-color: #47BC9B; /* Azul claro para los botones */
    border-radius: 30px; /* Bordes redondeados para un aspecto más suave */
    padding: 10px 30px;
    border: none; /* Quita el borde para un aspecto más limpio */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para los botones */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave al pasar el ratón */
  }
  
  .btn:hover {
    background-color: darken(#47BC9B, 10%); /* Oscurecer el color de fondo al pasar el ratón */
  }

/* Estilo para el botón de Log out */
.logout-button {
  cursor: pointer;
  color: rgb(10, 6, 6); /* Letras blancas para mayor contraste */
  text-transform: uppercase;
  font-weight: bold; /* Letras más gruesas */
  background-color: #ece90c; 
  border-radius: 10px; /* Bordes redondeados para un aspecto más suave */
  padding: 5px 15px;
  border: none; /* Quita el borde para un aspecto más limpio */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para los botones */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave al pasar el ratón */
  margin-top: 5px;/* Cambiar el margen inferior */
}

.logout-button:hover {
  background-color: #e74c3c; /* Rojo más claro al pasar el ratón */
}