.container-fluid {
  padding: 20px;
  background-color: #1a1a1a; /* Fondo casi negro */
}

h4 {
  color: #fff; /* Letras blancas */
  margin-bottom: 20px;
  font-size: 28px;
}

.btn_new {
  background-color: #3498db; /* Azul */
  box-shadow: 0px 4px 8px rgba(52, 152, 219, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn_new:hover {
  background-color: #2980b9; /* Azul un poco más oscuro al pasar el ratón */
  box-shadow: 0px 6px 12px rgba(41, 128, 185, 0.5);
}

.input_new {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 5px;
  color: #333; /* Letras de color oscuro */
  font-size: 16px; /* Tamaño de fuente un poco más grande */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna para efecto de relieve */
}


        /* Estilos para la tabla */
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #34495e; /* Color de fondo normal de la tabla */
            color: white;
        }
        
        /* Cambiar color de fondo al pasar el mouse */
        #customers:hover {
            background-color: #34495e; /* Mantener el mismo color de fondo al pasar el mouse */
        }
        
        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #customers tr:nth-child(even) {
            background-color: #2c3e50; /* Color de fondo para filas pares */
        }
        
        #customers tr:hover {
            background-color: #2c3e50; /* Cambiar el color de fondo al pasar el mouse */
        }
        
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:#808af5; /* Cambiado a un tono de violeta más oscuro */
            color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.925), 0 1px 3px rgba(0, 0, 0, 0.08); /* Añadido efecto de sombra */
            border-top: 1px solid rgba(255, 255, 255, 0.678); /* Añadido borde superior */
            border-bottom: 1px solid rgba(0, 0, 0, 0.685); /* Añadido borde inferior */
        }
 
.icono_edit,
.icono_trash {
  color: linear-gradient(135deg, #ab6ec9, #48a9a6); /* Degradado desde violeta hasta celeste */
  transition: color 0.3s ease; /* Agregando transición al color de los iconos */
}

.icono_edit:hover,
.icono_trash:hover {
  color: #ffd700; /* Dorado al pasar el ratón */
}

  