<app-home></app-home>
<div class="container-fluid" style="color: white; height: 100vh;">
    <div class="row">
        <div class="col-12" style="display: flex; align-items: center;">
            <img src="assets/stock.png" style="width: 60px; max-height: 60px; margin-right: 10px;">
            <h4 style="margin: 0;">S T O C K</h4>
        </div>
      
    </div>
    
    <div class="row" style="flex-grow: 1;">
        <div class="col-12">
            <div style="overflow-x:auto; height: calc(100% - 100px);"> <!-- Ajusta la altura aquí -->
                <table id="customers">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                           
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>
